In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/13 10:19:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [29]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [30]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField('name', StringType(), True)]

In [31]:
final_struct = StructType(fields=data_schema)

In [32]:
type(final_struct)

pyspark.sql.types.StructType

In [50]:
peopleSchema = StructType([
                StructField("age", IntegerType(), True),
                StructField("name", StringType(), True)
            ])

In [51]:
type(peopleSchema)

pyspark.sql.types.StructType

In [54]:
df2 = spark.read.json('people.json',schema=peopleSchema)

In [55]:
df2.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [56]:
df2.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+