In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/13 14:23:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [4]:
peopleSchema = StructType([
                StructField("age", IntegerType(), True),
                StructField("name", StringType(), True)
            ])

In [5]:
df = spark.read.json('people.json',schema=peopleSchema)

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [15]:
# create a new dataframe with the column age only
df_age = df.select('age')
df_age

DataFrame[age: int]

In [17]:
# get first two rows in a dataframe
two_rows = df.head(2)
two_rows

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [18]:
# print first row out of it
two_rows[0]

Row(age=None, name='Michael')

In [19]:
# select list of colmns in a dataframe
new_df = df.select(['age', 'name'])
new_df

DataFrame[age: int, name: string]

In [20]:
new_df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
# returns a new dataframe with a new column
df2 = df.withColumn('double_age', df['age']*2)
df2

DataFrame[age: int, name: string, double_age: int]

In [26]:
df2.show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [30]:
df2 = df2.withColumnRenamed('double_age', 'double')
df2.show()

+----+-------+------+
| age|   name|double|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [33]:
# register the dataframe as a temporary view
df.createOrReplaceTempView('people')

In [34]:
results = spark.sql('select * from people')

In [35]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
results30 = spark.sql('select * from people where age = 30')
results30.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+